.mediaDiv {
  position: relative;
  width: 100%;
  cursor: pointer;
  z-index: 0;
}
.mediaImg {
  height: 160px;
  object-fit: contain;
  margin: 5px;
  border-radius: 8px;
  z-index: 0;
}
.hoverScreenDisplay {
  display: none;
}
.mediaDiv:hover {
  .mediaImg {
    display: none;
    visibility: hidden;
    z-index: -1;
  }
  .hoverScreenDisplay {
    position: relative;
    top: -4px;
    padding: 1px;
    display: block;
    z-index: 10;
  }
}
