.mediaHoverImg {
  height: 180px;
  object-fit: contain;
  margin: 0;
  border-radius: 0%;
}
.hoverScreen {
  position: relative;
  color: white;
  width: 320px;
  left: 0;
  top: 0;
  opacity: 1;
  z-index: 15;
}
.hoverData {
  position: relative;
  background: linear-gradient(rgba(27, 37, 48, 0), #1b2530 48px);
  padding: 30px 30px;
  margin-top: -45px;
}
.playButton {
  color: white;
  transform: scale(1.3);
}
.playtext {
  margin-top: 5px;
  font-size: 15px;
  font-weight: bold;
}
.playDiv {
  display: flex;
  justify-content: space-between;
  height: 30px;
  width: 90px;
}
.playIcon {
  width: 40px;
}
.addIcon {
  color: white;
}
.hoverHeading {
  display: flex;
  justify-content: space-between;
}
.title {
  font-weight: bold;
  font-size: 15px;
}
.overview {
  margin-top: 6px;
  font-size: 12px;
}
.releaseYear {
  font-size: 12px;
  color: gray;
  margin-bottom: 15px;
}
.runTime {
  color: darkgray;
  font-size: 12px;
}
.footerScreen {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.messageIcon {
  color: darkgray;
  max-height: 18px;
}
.rated {
  border: 1px solid darkgray;
  color: darkgray;
  font-size: 10px;
  padding: 5px;
  height: 12px;
}
