.headingBanner {
  color: white;
  font-size: 25px;
}
.banner {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  justify-content: space-around;
  max-height: 165px;
  z-index: 0;
}
.banner::-webkit-scrollbar {
  display: none;
}
.leftIconDiv {
  left: 0px;
  max-height: 166px;
  z-index: 1;
  width: 30px;
  color: gray;
  position: absolute;
  -webkit-transition: opacity 0.25s ease, background-color 0.25s ease;
  transition: opacity 0.25s ease, background-color 0.25s ease;
  background-color: rgba(15, 23, 30, 0.5);
}
.leftIcon {
  min-height: 160px;
}
.leftIconDiv:hover {
  .leftIcon {
    color: white;
    transform: scale(1.5);
  }
}
.rightIconDiv {
  right: 0px;
  max-height: 166px;
  z-index: 1;
  width: 40px;
  color: gray;
  position: absolute;
  -webkit-transition: opacity 0.25s ease, background-color 0.25s ease;
  transition: opacity 0.25s ease, background-color 0.25s ease;
  background-color: rgba(15, 23, 30, 0.5);
  cursor: pointer;
}
.rightIcon {
  min-height: 160px;
  margin-left: 0px;
}
.rightIconDiv:hover {
  .rightIcon {
    color: white;
    transform: scale(1.5);
  }
}

.mediaScreen {
  margin-top: 30px;
  z-index: 0;
}

.mediaDiv {
  position: relative;
  width: 100%;
  cursor: pointer;
  z-index: 0;
}
.mediaImg {
  height: 160px;
  object-fit: contain;
  margin: 5px;
  border-radius: 8px;
  z-index: 0;
  visibility: visible;
}

.displayhoverScreen {
  display: none;
  visibility: hidden;
  position: relative;
  z-index: 2;
}
.mediaDiv:hover {
  .mediaImg {
    visibility: hidden;
  }
  .banner {
    overflow-y: visible;
  }
  .displayhoverScreen {
    position: relative;
    visibility: visible;
    display: block;
    padding: 1px;
    z-index: 2;
    top: -200px;
  }
}
